body {
    margin: 0 auto;
    font-family: 'Cambay', sans-serif;
    background: rgb(39, 21, 14);
    color: white;
}

#container {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
}
#title {
    flex-direction: column;
    color: rgb(238, 173, 88);
}
#title img {
    height: 50px;
}
h1 {
    font-family: 'Sigmar One', cursive;
    display: inline;
}
#title p {
    display: inline;
}
#top-menu {
    height: 50px;
    display: flex;
    background-color: rgb(209, 121, 38);
    border-radius: 10px 10px 0 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#game-bg{
    background-color: rgb(125, 205, 236);
    height: 280px;
}
#game {
    height: 280px;
    width: 800px;
    background: url(../img/grass.png);
    background-repeat: repeat-x;
    background-size: 115px 301px;
}
#menubar {
    height: 50px;
    background-color: rgb(209, 121, 38);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#inventory {
    display: flex;
    flex-direction: row;
}
#inventory div {
    width: 100px;
    text-align: center;
    padding: 10px;
}
#inventory div:hover {
    border: 1px solid rgb(200, 255, 0);
}
button {
    border-radius: 10px;
    height: 45px;
    background: white;
}
.arrow-keys button {
    width: 45px;
}
#up {
    width: 90px;
}
#objective {
    width: 90px;
}
#instructions {
    border-radius: 10px;
    background: white;
    color: black;
    padding: 10px;
    margin: 10px;
}
#popup {
    visibility: hidden;
    position: absolute;
    width: 35%;
    top: 150px;
    text-align: center;
    left: 30%;
    border-radius: 10px;
    background: white;
    color: black;
    padding: 10px;}
